.produtos li {
  display: flex;
  margin-left: -10%;
}

.produtos button {
  flex:content;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  margin: 2%;
  padding: 3%;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 6%;
  color: white;
}

.produtos button:hover {
  color: white;
  background-color: rgb(141, 46, 179);
  left: 15%;
}

.produtos button:active {
  background-color: rgb(141, 46, 179);
  color: white;
}

.produtos button.selected {
  background-color: rgb(141, 46, 179);
  color: white;
}

.produtos button.selected:hover {
  background-color: rgb(141, 46, 179);
  color: white;
}

.produtos button.selected:active {
  background-color: black;
  color: white;
}

.produtos .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 4% 4% 4% 4%;
  background-color: #1200b4;
  margin-right: 6%;
  border-radius: 4px;
}

.produtos .name {
  align-self: center;
}